.main {
  background-color: #282c34;
  min-height: 90vh;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.textbox{
  height:40px;
  width:300px;
  border-radius: 4px;
  font-size: 20px;
}

.addbtn{
  background-color:#FF5A5F;
  color:white;
  height: 45px;
  width: 70px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 6px;
  border: 0;
  outline: 0;
}
